.container {
  background-image: url("/image/group-photo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
h1 {
  font-size: 96px;
  padding: 20px;
  text-align: center;
  line-height: 1.5;
}
h2 {
  font-size: 44px;
  line-height: 1.5;
}
h3 {
  font-size: 44px;
}
h4 {
  font-size: 44px;
}

.mb-5 {
  font-family: "Poppins", serif;
  font-weight: normal;
  font-size: 30px;
  color: #272142;
  margin-bottom: 20px;
}

.btn-branding {
  color: red;
}
.logo {
  display: flex;
  float: left;
  justify-content: flex-start;
}

.hero {
  text-align: center;
  padding: 20px 15px;
  width: 100%;
  background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

.map {
  overflow: hidden;
  max-width: 100%;
  width: 350px;
  height: 300px;
}
.my-map-canvas {
  height: 100%;
  width: 100%;
  max-width: 100%;
}
.my-map-canvas img {
  max-width: none !important;
  background: none !important;
  font-size: inherit;
  font-weight: inherit;
}
input {
  width: 100%;
  height: 25px;
  margin: 12px 0;
  border: 1px solid #929292;
}
textarea {
  width: 100%;
  height: 65px;
  margin: 12px 0;
  border: 1px solid #929292;
}
.form {
  border: 1px solid rgb(78, 77, 77);
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  background: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(109, 107, 107, 0.5) 100%
  );
}

p {
  font-family: "Poppins", serif;
  font-size: 16px;
  padding: 15px;
  line-height: 1.7;
  margin: 0;
}
.tornment-photo {
  width: 100%;
  margin: 0px;
  border-radius: 30px;
  display: block;
}
.call-us {
  font-family: 40px;
  color: green;
  padding-top: 40px;
}
.contact {
  font-weight: bold;
  font-style: italic;
}
ul {
  list-style: none;
}
li {
  font-size: 15px;
  line-height: 30px;
}
table {
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
td,
tr {
  border: 1px solid black;
  padding: 10px 20px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 15px 0;
}
img {
  max-width: 100%;
}
.grid img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  transition: all 150ms ease-in-out;
}
.grid img:hover {
  transform: scale(2);
}
.judo-intro-picture {
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}
.judo-intro-picture:hover {
  filter: contrast(80%);
  transform: scale(1.1);
}
