.container {
  background-image: url("/image/group-photo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
h1 {
  font-size: 96px;
  padding: 20px;
  text-align: center;
}

.mb-5 {
  font-family: "Poppins", serif;
  font-weight: normal;
  font-size: 30px;
  color: #272142;
  margin-bottom: 20px;
}

.btn-branding {
  color: green;
}
.logo {
  display: flex;
  float: left;
  justify-content: flex-start;
}
.hero {
  text-align: center;
  padding: 0px;
}
.map {
  overflow: hidden;
  max-width: 100%;
  width: 350px;
  height: 300px;
}
.my-map-canvas {
  height: 100%;
  width: 100%;
  max-width: 100%;
}
.my-map-canvas img {
  max-width: none !important;
  background: none !important;
  font-size: inherit;
  font-weight: inherit;
}
input {
  width: 100%;
  height: 25px;
  margin: 12px 0;
  border: 1px solid #929292;
}
textarea {
  width: 100%;
  height: 65px;
  margin: 12px 0;
  border: 1px solid #929292;
}

p {
  font-family: "Poppins", serif;
  font-size: 16px;
  padding: 15px;
  line-height: 1.4;
}
